.react-bootstrap-table {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.row.react-bootstrap-table-pagination {
    width: 80%;
    margin: auto;
}

.react-bootstrap-table>table>thead>tr>th .filter {
    margin-top: 10px;
}

.react-bootstrap-table th.sortable {
    font-size: large;
}